<nav class="navbar navbar-dark  fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h4>Nour Fares</h4></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><h4>Home</h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects"><h1>Projects</h1></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hireme"><h4>Hire me</h4></a>
          </li>
        <div class="contact">
          <a class="nav-link active" class="nav-link" href="https://github.com/Nourfaress" target="_blank" type="button"><i class="fa-brands fa-square-github fa-3x"></i></a>
          <a class="nav-link" href="https://www.linkedin.com/in/nour-fares-099528201/" target="_blank" type="button"><i class="fa-brands fa-linkedin fa-3x"></i></a>
          <a class="nav-link" href="https://wa.me/01141400652" target="_blank"><i class="fa-brands fa-square-whatsapp fa-3x"></i></a>
          <a class="nav-link" href="https://www.behance.net/nourfares1" target="_blank" type="button"><i class="fa-brands fa-square-behance fa-3x"></i></a>
          <a class="nav-link" href="https://twitter.com/Nourfarres" target="_blank" type="button"><i class="fa-brands fa-square-twitter fa-3x"></i></a>
        </div>
        </ul>
        <p>Feel Free And Contact Me ..</p>
      </div>
    </div>
  </div>
</nav>